@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background: #030712;
}
.container{
    max-width: 1280px;
    width: 100%;
   margin: 0 auto;
   a{
    color: #fff;
   }
   
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    
}
a{
    text-decoration: none;
}
.div{
    
     display: flex;
    justify-content: space-between;
    
    
}
.logo{
    font-weight: 700;
    font-size: 30px;
}
.he{
    align-items: center;
    display: flex;
    gap: 100px;

     width: 70%;
    color:#fff;
    margin-left: 15%;
    margin-top: 100px;


    h1{
        font-weight: 700;
        font-size: 60px;
    }
}
.he3{
    color: #fff;
    margin-top: -50px;
     width: 70%;
    margin-left: 15%;
}
.h1{
     gap: 20px;
     display: flex;
     margin-top: 48px;
     margin-left: 15%;
}